<header class="site-header">

    <nav class="navbar navbar-custom navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="btn-lg btn-block navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="">MENU</span>
          </button>     
          <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ '/assets/ldlogo.png' | prepend: site.baseurl }}" ></a> 
        </div>

        <div class="collapse navbar-collapse" id="navcollapse">
          <ul class="nav navbar-nav">
           {% assign sorted_pages = site.pages | sort:"order" %}
            {% for node in sorted_pages %}
            {% if node.title %}
              <li><a href="{{site.baseurl}}{{node.url}}">{{node.title | upcase}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
  </nav>

</header>