---
layout: default
---

{% assign collection = page.collection | prepend: 'site.' %}

{% for item in collection %}
    {% cycle 'add row' : '<div class="row">', nil, nil %}
        <div class="col-sm-4">
            <div class="preview-panel">
                <a href="{{ site.baseurl }}{{ item.url }}">
                    <img src="{{ item.preview }}"/>
                </a>
                {{ item.title }}
           </div>
        </div>
{% cycle 'end row' : nil, nil, '</div>' %}
{% endfor %}
{% cycle 'end row' : nil, '</div>', '</div>' %}

